<!-- PAGINA PRINCIPAL "/", CON EL BOTON PARA INICIAR SESION Y PODER ACCEDER AL RESTO DE PAGINAS-->

<!-- Definición de Jinja para añadir el contenido particular de esta página en los bloques de la plantilla base-->
{% extends "layout.html" %} {% block title %}PANINFO{% endblock %} 
{% block content %}

<!-- Código HTML de la página-->
<br />
<h1 align="center">Panel Informativo Health & Safety</h1>
<p align="center">
  Bienvenido al sistema de gestión de contenido e información del panel
  informativo
</p>
<p align="center">Inicie sesión para acceder a la aplicación</p>
<br />
<div style="text-align: center">
  <img
    src="{{ url_for('static', filename='trabajadorPRL.jpg') }}"
    alt="Trabajador PRL anotando información"
  />
</div>

{% endblock %}
